@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Indie+Flower&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #fc9254;
  color: white;
}

.present {
  background-color: #f7f25e;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ea2150;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.banner {
  border: double;
  padding: 5px;
  margin: 5px;
  border-width: 5px;
  background-color: rgb(209, 66, 219);
  font-family: 'Cormorant Garamond', serif;
}

textarea {
  font-family: 'Indie Flower', cursive;
}

#hour-9,
#hour-10,
#hour-11 {
  font-family: 'Cormorant Garamond', serif;
}

.lead {
  color: #fdfdfc;
}

#instruct {
  font-weight: 600;
  font-size: large;
}

#past-font {
  color:#f5a25a;
  font-size: larger;
}

#present-font {
  color: #f7f25e;
  font-size: larger;
}

#future-font {
  color: #77dd77;
  font-size: larger;
}

#instruct {
  padding: 0px 2px;
  flex-wrap: wrap;
}

.display-3 {
  font-weight: 400;
}